/* CSS style for the pokedex */

/* general background-color and style */
* {
    background-color: rgb(239, 239, 239);
}

/* settings for component : PokemonList */

/* tiles */
#pokemonList {
    display: grid;
    column-gap: 15px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  
  /* CSS */
.addPokemonButton {
    opacity: 0.9;
    background-color: #3D7DCA;
    color: #FFCB05;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    transition: all 0.5s;
    border: 0;
    font-size:larger;
    font-weight: bold;
  }

  /*GH?NO!GL!pw4958*/
  
.addPokemonButton:hover {
    opacity: 1;
    box-shadow: #003A70 0 -25px 18px -14px inset,#003A70 0 1px 2px,#003A70 0 2px 4px,#003A70 0 4px 8px,#003A70 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05);
  }

img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-color: transparent;
}

.content {
    width: 70%;
    margin: auto;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.textId {
    text-align: end;
    margin-top: 0%;
    margin-bottom: 0px;  
    font-style: italic;
    font-size: small;
    margin-right: 5%;
    position: relative;
    background-color: transparent;
}

li {
    text-align: center;
    border: 3px solid black;
    display: block;
    border-radius: 15px;
}

.container {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

li :hover img{
    transform: scale(1.15); 
    transition: transform .5s;
    background-size: contain;
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;    
    background-color: transparent;
    font-weight: bolder;
}

.title {
    text-align: center;
    margin-top: 3%;
    text-decoration: solid;
}

/* Detail page */

.returnButton {
    display: flex;
    justify-self: left;
}

.return {
    text-align: center;
    border: 0;
    text-decoration: underline;
    background-color: transparent;
}

.contentDetails {
    background-color: aliceblue;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 2%;
    border-radius: 5%;
}

p {
    background-color: transparent;
}

.aroundContent {
    background-color: transparent;
    display: grid;
}

#detailImage {
    grid-row: 1;
    grid-column: 2;
}

#types {
    grid-row: 2;
    grid-column: 2;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}

.type {
    padding: 5px;
}

#titre {
    font-size: 32px;
    margin: 0%;
}

.detailId {
    font-style: italic;
    margin: 0%;
}

#generalInformation {
    background-color: transparent;
    grid-row: 1;
    grid-column: 1;
}

#specific {
    background-color: transparent;
}

#specific p {
    margin-left: 40%;
}


.attributes {
    background-color: transparent;
    font-weight: bolder;
}

#general {
    display: grid;
    background-color: transparent;
    margin-top: 10%;
}

#stats {
    display: grid;
    background-color: transparent;
}

.species, #hp {
    grid-row: 1;
    grid-column: 1;
    background-color: transparent;
}

.weight, #attack {
    grid-row: 1;
    grid-column: 2;
    background-color: transparent;
}

#defense {
    grid-row: 1;
    grid-column: 3;
    background-color: transparent;
}

.experience, #special-attack {
    grid-row: 2;
    grid-column: 1;
    background-color: transparent;
}
.height, #special-defense {
    grid-row: 2;
    grid-column: 2;
    background-color: transparent;
}
#speed {
    grid-row: 2;
    grid-column: 3;
    background-color: transparent;
}


.abilities {
    border: 0%;
    background-color: transparent;
    border: 0;
    list-style: square;
    display:list-item;
    text-align: left;
}

.ability {
    justify-content: left;
    background-color: transparent;
}

#specific {
    text-align: left;
}

.specificattr {
    text-align: left;
}

.transparent {
    background-color: transparent;
}

/* background color for all different pokemon types */
.grass {
    background-color: #77cc55;
    opacity: 0.9;
}

.normal {
    background-color: #aaaa99;
    opacity: 0.9;
}

.poison {
    background-color: #aa5599;
    opacity: 0.9;
}

.fire {
    background-color: #ec4225;
    opacity: 0.9;
}
.bug {
    background-color: #aabb22;
    opacity: 0.9;
}
.water {
    background-color: #4e9aff;
    opacity: 0.9;
}
.flying {
    background-color: #8899ff;
    opacity: 0.9;
}
.electric {
    background-color: #f5cc34;
    opacity: 0.9;
}
.ground {
    background-color: #ddbb55;
    opacity: 0.9;
}
.fairy {
    background-color: #ee99ee;
    opacity: 0.9;
}
.fighting {
    background-color: #bb5545;
    opacity: 0.9;
}
.psychic {
    background-color: #ee5499;
    opacity: 0.9;
}
.rock {
    background-color: #bbaa66;
    opacity: 0.9;
}
.ghost {
    background-color: #6667bc;
    opacity: 0.9;
}
.ice {
    background-color: #66ccff;
    opacity: 0.9;
}
.dragon {
    background-color: #7867ee;
    opacity: 0.9;
}
.dark {
    background-color: #775544;
    opacity: 0.9;
    color: whitesmoke;
}
.steel {
    background-color: #aaaabb;
    opacity: 0.9;
}

